<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Deals</title>   
    <link rel="stylesheet"  type="text/css" href="<%=url('css/styles.css')%>"> 
</head>
<body>
    <div class="container">
        <h1>Best Deals</h1>
        <div>
            Looking for ebay products... search here... 
            <form method="POST" action="/search" class="form-inline">
                <div class="form-group mx-3">
                    <label class="mx-3" for="product_name">Product Name</label>
                    <input id="product_name" class="form-control" type="text">
                </div>
                <input class="btn btn-primary" type="submit" value="Search">
            </form>
        </div>
    </div>
</body>
</html>