<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Deals</title>
    <link rel="stylesheet"  type="text/css" href="<%=url('css/styles.css')%>">
</head>
<body>
    <div class="container">
        <h1>Best Deals</h1>
        <div>
            <div class="card" style="width: 18rem;">
                <img src="https://i.ebayimg.com/thumbs/images/g/t5MAAOSwonZfnaWq/s-l225.webp" alt="product image" class="card-img-top" height=180>
                <div class="card-body">
                    <h5 class="card-title">Apple iPhone 11 - 64GB - Black (Locked)</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Buy</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>